# Python cache
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
__pycache__/*
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env